

.Info-container{
    margin-left: auto;
    margin-right: auto;
    flex-flow: row;
    align-items: left;
    justify-items: left;
    margin-top:0vmin;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}


.Info-col-50{
    width: 50%;
    text-align: left;
    vertical-align: top;    
    padding:5vmin;
}

.Info-col-50 h4{
    font-size: large;
    font-weight: bold;
}


@media  (max-width:768px){
    .Info-col-50{
        width: 100%;
    }
}
