.logo{
    height: 6vmin;
    pointer-events: none;
  }

.container{
    flex-flow: row;
    align-items: center;
    justify-items: center;
    margin-top:5vmin;
    padding: 5vmin;
    display: flex;
}

.container-logo{
    padding: 2vmin;
    width: 30%;
}
.container-textos{
    text-align: left;
}
.container-text{
    padding-left: 2vmin;
    font-size: large;
    font-weight: bold;
    text-align: left;
}
.container-text1{
    padding-left: 2vmin;
    text-align: left;
}
