.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #293339;
  border-bottom: 1px solid #AAAAAA;
}

.App-link {
  color: #293339;
  font-size: 14px;
  padding: 10px;
  padding-top:20px;
  text-decoration: none;
}
.App-link:hover {
  background-color: #CDDEEF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-title{
  font-size: large;
  font-weight: bold;
}


.App-text{
  text-align: left;
  font-size: medium;
  word-wrap: break-word;
  white-space: normal;

}